:host {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: auto;
}

* {
  font-family: monospace;
}

header {
  text-align: center;
  padding: 9px;
  background: white;
}

header em {
  border: 0.5px solid rgba(0,0,0,0.6);
  padding: 1px 3px;
}

block-list {
  background: white;
  flex: 1;
}

ul {
  list-style: none;
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 75%;
}

li {
  background: rgba(0,0,0,0.8);
  color: white;
  margin: 3px;
  padding: 3px;
  padding-left: 6px;
}

li:hover, li:focus {
  padding-left: 3px;
  border-left: 3px solid cornflowerblue;
}

