:host {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}


:host > * {
  height: 0%; /* 0% initial style on append, will very quickly be recalculated, and the transition will take place */
  transition: all 0.5s;
  position: absolute;
  border-bottom: 2px solid black;
  box-sizing: border-box;
}
