* {
    font-family: monospace;
    box-sizing: border-box;
}

:host {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
}
  
header {
    background: black;
    color: white;
    padding: 3px;
}

  
:host > textarea {
    flex: 1;
    resize: none;
    white-space: nowrap;
}

table-container {
    overflow: auto;
    flex: 1;
}

table {
    border-spacing: 0;
}

td {
    border: 1px solid #c3bebe;
    position: relative;
    white-space: pre;
}

:host-context([whitespace="wrap"]) td {
    white-space: normal;
}

td textarea {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    resize: none;
}

footer {
    display: none;
    background: black;
    color: white;
}