:host {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: lightgrey;
}

[orientation="horizontal"] {
    flex-direction: row;
}

  
:host > *:not(add-button) {
    margin: 8px;    
    min-height: 30%; /* 0% initial style on append, will very quickly be recalculated, and the transition will take place */
    max-height: Calc(100% - 16px);
    min-width: 30%;    
    max-width: Calc(100% - 16px);
    box-sizing: border-box;
    position: relative;
}

add-button {
    margin: 8px;
}

add-button form {
    background: white;
    float: right;
    padding-left: 8px;
}
add-button button {
    background: black;
    color: white;
    border: none;
    width: 30px;
    height: 30px;
}