:host {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

:host > * {
  width: 0%; /* 0% initial style on append, will very quickly be recalculated, and the transition will take place */
  position: absolute;
  border-right: 2px solid black;
  box-sizing: border-box;
}

:host > [deflate] {
  opacity: 0;
}

:host > :not([deflate]) {
  opacity: 1;
  transition: opacity 0.15s;
}